{#
/**
 * Quick Links Component - GOV.UK inspired
 * Muestra los 6 servicios más populares basado en analytics
 */
#}
<section class="quick-links" aria-label="Quick access to popular services">
  <div class="quick-links-content">
    <h2>{{ 'Popular en SUBTEL'|t }}</h2>
    <div class="quick-links-grid">
      {# Link 1: Portal de Solicitudes #}
      <a href="/solicitudes" class="quick-link-item">
        <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
          <path d="M9 2a1 1 0 000 2h.01a1 1 0 000-2H9zm-1.414 4a2 2 0 112.828 0l-1.414-1.414z"/>
          <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 1 1 0 000 2h12a1 1 0 100-2 2 2 0 012 2v12a2 2 0 01-2 2H6a2 2 0 01-2-2V5z"/>
        </svg>
        <span>{{ 'Solicitud de Asignación de Espectro'|t }}</span>
      </a>

      {# Link 2: Consultar Estado #}
      <a href="/consultar-estado" class="quick-link-item">
        <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
        </svg>
        <span>{{ 'Consultar Estado de Solicitud'|t }}</span>
      </a>

      {# Link 3: Regulaciones #}
      <a href="/regulaciones" class="quick-link-item">
        <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/>
        </svg>
        <span>{{ 'Descargar Regulaciones Técnicas'|t }}</span>
      </a>

      {# Link 4: Portal del Operador #}
      <a href="/login-operador" class="quick-link-item">
        <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </svg>
        <span>{{ 'Portal del Operador: Ingresar'|t }}</span>
      </a>

      {# Link 5: Chat IA IRCO #}
      <a href="#irco-chat" class="quick-link-item" data-toggle="modal">
        <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
          <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12h-8v-2h8v2zm0-4h-8V8h8v2z"/>
        </svg>
        <span>{{ 'Contactar a IRCO (Chat IA)'|t }}</span>
      </a>

      {# Link 6: Datos Abiertos #}
      <a href="/datos-abiertos" class="quick-link-item">
        <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
        <span>{{ 'Dashboard de Datos Abiertos'|t }}</span>
      </a>
    </div>
  </div>
</section>
